/*
blue: #53bbf4;
green: #b1eb00;
pink: #ff85cb;
red: #ff432e;
grey: #7f7f7f;
orange: #ffac00;
*/

#bar {
	width: 50px;
	height: 35px;
	top: 0;
}

body {
	height: 768px;
	width: 100%;
	background-color: #53bbf4;
	font-family: "Candara", Verdana, sans-serif;
}

#icon{
	height: 100%;
	width: 100%;
}

#end_turn_image{
	height: 50%;
	width: 50%;
}

.separate{
	margin-top: 5%;
}


#game_screen {
	height: 1000px;
	width: auto;
}

#loggedintext{
	text-align: center;

}
/*Public Index */
#logosplash {
	height: 350px;
	width: 100%;
}

#loggedinlogosplash {
	height: 400px;
	width: 125%;
}

#fillertext {
	margin-top: 5%;
	border-top: 5px solid black;
	text-align: center;
}

#indexheading{
	margin-top: 5%;
	font-size: 200%;
	color: black;
}

#indextext{
	font-size: 150%;
	color: black;
}

#indexlogin a {
	color: #53bbf4;
	text-decoration: none;
}

#indexlogin a:hover {
	font-size: 102%;
}

#indexlogin a:visited {
	text-decoration: none;
}

#indexcreate a{
	color: #ff85cb;
	text-decoration: none;

}

#indexcreate a:hover{
	color: #ff85cb;
	font-size: 102%
}


#indexcreate a:visited {
	text-decoration: none;
}


/*End of Public Index */

/*PopUp*/
#leftImage{
	float:left;
}

#rightImage{
	float:right;
}

/*Logged in homepage*/

#creategame a{
	color: #53bbf4;
	font-weight: bold;
	text-decoration: none;
}

#creategame a:hover {
	font-size: 102%;
}

#instructions a{
	color: #ff85cb;
	font-weight: bold;
}

#instructions a:hover{
	font-size: 102%;
}

#theinstructions{
	visibility: hidden;
	text-align: left;
}

#ruledesc{
	font-size: 95%;
}

/*End of Logged in home page*/





/*End of PopUp*/

.board {
	position: relative;
	background-image: url('/static/images/game_board_final_real.png');
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.playerStats {
	position: absolute;
	top: 0;
	right: 0;
	border: 5px solid black;
	margin-left: auto;
	text-align: left;
	width: 30%;
}

.playerBankrolls{
	position: absolute;
	bottom: 0;
	width: 30%;
	border: 5px solid black;
}

.player_hover_stats{
	position: relative;
	top: 37%;
	left: 37%;
}

#p0br_stats{
	position: absolute;
	top: 0;
	background-color: #7f7f7f;
	border: 5px solid black;
	visibility: hidden;
	width: 30%;
}
#p1br_stats{
	position: absolute;
	top: 0;
	background-color: #7f7f7f;
	border: 5px solid black;
	visibility: hidden;
	width: 30%;
}
#p2br_stats{
	position: absolute;
	top: 0;
	background-color: #7f7f7f;
	border: 5px solid black;
	visibility: hidden;
	width: 30%;
}
#p3br_stats{
	position: absolute;
	top: 0;
	background-color: #7f7f7f;
	border: 5px solid black;
	visibility: hidden;
	width: 30%;
}

#heading {
	color: #53bbf4;
	font-weight: bold;
}

#response {
	color: #b1eb00;
}


/*Stuff for animation*/
.waypoint {
	position: absolute;
	z-index: 4;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #7f9f7f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.path-dot {
	position: absolute;
	z-index: 1;
	width: 4px;
	height: 4px;
	font: 0px;
	background-color: #dca3a3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#mover {
	position: absolute;
	z-index: 5;
	width: 20px;
	height: 20px;
	background-color: #4f4faf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#snippet {
	float: left;
	clear: both;
	z-index: 0;
	color: #dcdccc;
	font-family: "Lucida Console", "Monaco", "Arial", "Verdana"
}
#snippet pre {
	font-family: "Lucida Console", "Monaco", "Arial", "Verdana"
}
#snippet a {
	/*color: #4f4faf;*/
	color: #5fbf5f;
	text-decoration: none;
}
#snippet a:hover {
	text-decoration: underline;
	color: #4fff4f;
}
#settings {
	float: left;
	clear: both;
	color: #dcdccc;
}
.option {
	clear: both;
}