{% extends "base.html" %}
{% block content %}

<br><br><br>

<div class="jumbotron">
	<div class="board">
		<div class = "playerStats">
			<p style = "color: white; font-size: 100%; margin: 0px">Bankroll: $</p>
			<p style = "color: white; font-size: 100%; margin: 0px">Amount Owed In Loans: $</p>
			<p style = "color: white; font-size: 100%; margin: 0px">Debt Collectors in in:  turns</p>
			<p style = "color: white; font-size: 100%; margin: 0px">Career: </p>
			<p style = "color: white; font-size: 100%; margin: 0px">Married: true/false</p>
			<p style = "color: white; font-size: 100%; margin: 0px">Children: 9000</p>
			<p style = "color: white; font-size: 100%; margin: 0px">House: Resort</p>
		</div>
		<div class = "playerBankrolls">
			<p style = "color: white; font-size: 125%; margin: 0px">Player 0: $</p>
			<p style = "color: white; font-size: 125%; margin: 0px">Player 1: $</p>
			<p style = "color: white; font-size: 125%; margin: 0px">Player 2: $</p>
			<p style = "color: white; font-size: 125%; margin: 0px">Player 3: $</p>
		</div>
	</div>
</div>

<h2>Play tha game</h2>

<div id="button-holder">
	<button onclick="New_Game();">Start the Game!</button>
</div>

  

{% endblock %}