{% extends "base.html" %}
{% block content %}


<br><br><br>

{% for c in careers %}
<script>
	var salary = '{{ c.salary }}';
	var title = '{{ c.title }}';
	var img_path = '{{ c.img_path }}';
	var career = new Career(title, salary, img_path);
	this_game.careers.push(career);
</script>
{% endfor %}

{% for h in houses %}
<script>
	var title = '{{ h.title }}';
	var cost = '{{ h.cost }}';
	var sell_price = '{{ h.sell_price }}';
	var img_path = '{{ h.img_path }}';
	var house = new House(title, cost, sell_price, img_path);
	this_game.houses.push(house);
</script>
{% endfor %}

{% for t in tiles %}
<script>
	var title = '{{ t.title }}';
	var value = '{{ t.value }}';
	var x_val = '{{ t.x_val }}';
	var y_val = '{{ t.y_val }}';
	var tile = new Tile(title, value, x_val, y_val);
	this_game.board.tiles.push(tile);
</script>
{% endfor %}




<div class="jumbotron" id="game_screen">

	<div class="board" id="board">

		<!-- Spin Wheel Modal -->
		<div class="modal fade" id="spinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" style="text-align:center"><span id="cur_player_spin"></span></h2>
		      </div>
		      <div class="modal-body">
		        <div id="wrapper">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="400" height="400">
					<circle cx="200" cy="200" r="180" fill="#222222"/>
					<g id="spinner-board"></g>
					<path id="spinner-arrow" d="M 195 200 L 195 70 L 188 70 L 200 55 L 212 70 L 205 70 205 200 Z" fill="#EEEEEE" stroke="#222222" style="stroke-width:2px"/>
					<circle cx="200" cy="200" r="18" fill="#444444" stroke="#222222" style="stroke-width:2px"/>
					<circle cx="200" cy="200" r="9" fill="#666666" stroke="#222222" style="stroke-width:2px"/>
				</svg>
				<h1 id="spin-value">0</h1>
				</div>
		      </div>
		      <div class="modal-footer">
		      	<div class="row">
		        <button type="button" class="btn btn-default" id="spinner-button" onclick="toggleSpinning();">SPIN</button>
		        <button type="button" class="btn btn-primary" id="start_turn_button" disabled>Begin turn</button>
		    </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<!-- Human Player Stat Box -->
		<div class="playerStats">
			<p style="color: white; font-size: 200%; margin: 0px"><span id='heading'>Player </span><span id='active_player'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $ </span><span id='active_br'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Amount Owed In Loans: $ </span><span id='active_loans'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='active_career'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='active_married'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='active_children'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='active_house'></span></p>
		</div>
		<!-- End of Human Player Stat Box -->

		<!-- Player Stat Popup Boxes -->
		<div class="player_hover_stats">
			<div id='p0br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 0 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $</span><span id='p0_hover_br'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: $</span><span id='p0_hover_loans'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='p0_hover_career'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='p0_hover_married'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='p0_hover_children'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='p0_hover_house'></span></p>
			</div>
			<div id='p1br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 1 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $</span><span id='p1_hover_br'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: $</span><span id='p1_hover_loans'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='p1_hover_career'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='p1_hover_married'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='p1_hover_children'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='p1_hover_house'></span></p>
			</div>
			<div id='p2br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 2 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $</span><span id='p2_hover_br'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: $</span><span id='p2_hover_loans'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='p2_hover_career'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='p2_hover_married'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='p2_hover_children'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='p2_hover_house'></span></p>
			</div>
			<div id='p3br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 3 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $</span><span id='p3_hover_br'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: $</span><span id='p3_hover_loans'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='p3_hover_career'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='p3_hover_married'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='p3_hover_children'></span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='p3_hover_house'></span></p>
			</div>
		</div>
		<!-- End of Player Stat Popup Boxes -->
		<!-- Choose Career modal -->
		<div class="modal fade" id="chooseCareerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Choose A Career</h4>
      				</div>
      				<div class="modal-body">
      				<div class="row">
      					<div class="col-md-3">
        				<div id='leftImage'>
        					<button data-dismiss="modal">
        						<img id='left_career_img' src='/static/images/careers/debt_collector_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='left_career_title'>
        					<p></p>
        				</div>
        				<div id='left_career_salary'>
        					<p></p>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='rightImage'>
        					<button data-dismiss="modal">
        						<img id='right_career_img' src='/static/images/careers/meth_manufacturer_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='right_career_title'>
        					<p></p>
        				</div>
        				<div id='right_career_salary'>
        					<p></p>
        				</div>
        			</div>
        			</div>
        			<div class="row">
      					<div style="text-align:center">
	        				<button type="button" id="generate_career">Generate Careers!</button>
	        			</div>
        			</div>
      				</div>
    			</div>
  			</div>
		</div>


		<!-- choose house modal -->
		<div class="modal fade" id="chooseHouseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Choose A House</h4>
      				</div>
      				<div class="modal-body">
      				<div class="row">
      					<div class="col-md-3">
        				<div id='leftImage'>
        					<button data-dismiss="modal">
        						<img id='left_house_img' src='/static/images/careers/debt_collector_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='left_house_title'>
        					<p></p>
        				</div>
        				<div id='left_house_cost'>
        					<p></p>
        				</div>
        				<div id='left_house_sellprice'>
        					<p></p>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='rightImage'>
        					<button data-dismiss="modal">
        						<img id='right_house_img' src='/static/images/careers/meth_manufacturer_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id='right_house_title'>
        					<p></p>
        				</div>
        				<div id='right_house_cost'>
        					<p></p>
        				</div>
        				<div id='right_house_sellprice'>
        					<p></p>
        				</div>
        			</div>
        			</div>
        			<div class="row">
      					<div style="text-align:center">
	        				<button type="button" id="generate_house">Generate Houses!</button>
	        			</div>
        			</div>
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal fade" id="tileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="Tile_Label">This Happened to you</h4>
      				</div>
      				<div class="modal-body"  id='Tile_Value'>
        				<p>Shit happens.</p>
      				</div>
      				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
  					</div>
    			</div>
  			</div>
  		</div>

  		<div class="modal fade" id="end_of_turn_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="eot_title">This Happened to you</h4>
      				</div>
      				<div class="modal-body"  id='eot_body'>
        				<p>Summary of turn...</p>
      				</div>
      				<div class="modal-footer">
    					<button type="button" class="btn btn-default text-center" id="finish_turn" data-dismiss="modal">Finish Turn!</button>
  					</div>
    			</div>
  			</div>
  		</div>

  		<!-- choose route modals  -->
  		<div class="modal fade" id="collegeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" style="height = 500px">
 			  <div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        				<h4 class="modal-title" id="myModalLabel">College vs Career</h4>
      			</div>
            <div class="modal-body" style = "height = 80%">
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'college'>
                  <img src = '../static/images/paths/college_icon.png' id = 'icon'>
          				<button type="button" id="college_y" class="btn btn-default" data-dismiss="modal">College</button>
                </div>
              </div>
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'career'>
                  <img src = '../static/images/paths/no_college_icon.png' id = 'icon'>
          				<button type="button" id="college_n" class="btn btn-default" data-dismiss="modal">Career</button>
                </div>
              </div>
              <div class = "modal-footer" id = "college-footer">
              </div>
            </div>
    			</div>
  			</div>
  		</div>


  		<div class="modal fade" id="riskyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        			<h4 class="modal-title" id="myModalLabel">Risky Road vs You're Boring Road</h4>
      			</div>
            <div class="modal-body" style = "height = 80%">
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'college'>
                  <img src = '../static/images/paths/risky_icon.png' id = 'icon'>
                  <button type="button" id="risky_road_y" class="btn btn-default" data-dismiss="modal">Risky Road</button>
                </div>
              </div>
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'career'>
                  <img src = '../static/images/paths/non_risky_icon.png' id = 'icon'>
                  <button type="button" id="risky_road_n" class="btn btn-default" data-dismiss="modal">You're Boring Road</button>
                </div>
              </div>
              <div class = "modal-footer" id = "college-footer">
              </div>
            </div>
    			</div>
  			</div>
  		</div>
  		<div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        			<h4 class="modal-title" id="myModalLabel">Family Road vs Loner Lane</h4>
      			</div>
            <div class="modal-body" style = "height = 80%">
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'college'>
                  <img src = '../static/images/paths/family_icon.png' id = 'icon'>
                  <button type="button" id="family_road_y" class="btn btn-default" data-dismiss="modal">Family Path</button>
                </div>
              </div>
              <div class = "col-md-6" style = "text-align: center">
                <div id = 'career'>
                  <img src = '../static/images/paths/no_family_icon.png' id = 'icon'>
                  <button type="button" id="family_road_n" class="btn btn-default" data-dismiss="modal">Loner Lane</button>
                </div>
              </div>
              <div class = "modal-footer" id = "college-footer">
              </div>
            </div>
    			</div>
  			</div>
  		</div>
  		<!-- end of choose route modals -->



		<!--Players Bankroll Box -->
		<div class="playerBankrolls">
			<p id='p0br' onMouseOver="show('p0br_stats')" onMouseOut="hide('p0br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 0: $</span><span id='p0_bank'>10000</span></p>
			<p id='p1br' onMouseOver="show('p1br_stats')" onMouseOut="hide('p1br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 1: $</span><span id='p1_bank'>10000</span></p>
			<p id='p2br' onMouseOver="show('p2br_stats')" onMouseOut="hide('p2br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 2: $</span><span id='p2_bank'>10000</span></p>
			<p id='p3br' onMouseOver="show('p3br_stats')" onMouseOut="hide('p3br_stats')"style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 3: $</span><span id='p3_bank'>10000</span></p>
		</div>

		<!-- End of Players Bankroll Box -->
	</div>
</div>

<h2>Play tha game</h2>

<div id="button-holder">
	<button onclick="New_Game();">Start the Game!</button>
</div>

<br><br><br><br>

<script>
document.getElementById("generate_career").addEventListener("click", function(event){
	console.log(this_game);
	if (this_game.players[this_game.curPlayer].college){
		this_game.Generate_College_Career();
	} else {
		this_game.Generate_Regular_Career();
	}
}, false);

document.getElementById("left_career_img").addEventListener("click", 
	function(event){
		this_game.Choose_Career_Script(0);
}, false);

document.getElementById("right_career_img").addEventListener("click", 
	function(event){
		this_game.Choose_Career_Script(1);
}, false);

document.getElementById("generate_house").addEventListener("click", function(event){
		this_game.Generate_House_Options();
}, false);

document.getElementById("left_house_img").addEventListener("click", 
	function(event){
		this_game.Choose_House_Script(0);
}, false);

document.getElementById("right_house_img").addEventListener("click", 
	function(event){
		this_game.Choose_House_Script(1);
}, false);

document.getElementById("risky_road_y").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_Risky_Road(1);
}, false);

document.getElementById("risky_road_n").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_Risky_Road(0);
}, false);

document.getElementById("family_road_y").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_Family_Road(1);
}, false);

document.getElementById("family_road_n").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_Family_Road(0);
}, false);
document.getElementById("college_y").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_College_Road(1);
}, false);

document.getElementById("college_n").addEventListener("click", function(event){
	console.log(this_game);
	this_game.Choose_College_Road(0);
}, false);

document.getElementById("start_turn_button").addEventListener("click", function(event){
	this_game.Start_Turn();
})

document.getElementById("finish_turn").addEventListener("click", function(event){
	this_game.Play_Game();
})



</script>

  

{% endblock %}