{% extends "base.html" %}
{% block content %}


<br><br><br>

{% for c in careers %}
<script>
	var salary = '{{ c.salary }}';
	var title = '{{ c.title }}';
	var img_path = '{{ c.img_path }}';
	var career = new Career(title, salary, img_path);
	this_game.careers.push(career);
</script>
{% endfor %}

{% for h in houses %}
<script>
	var title = '{{ h.title }}';
	var cost = '{{ h.cost }}';
	var sell_price = '{{ h.sell_price }}';
	var house = new House(title, cost, sell_price);
	this_game.houses.push(house);
</script>
{% endfor %}

{% for t in tiles %}
<script>
	var title = '{{ t.title }}';
	var value = '{{ t.value }}';
	var x_val = '{{ t.x_val }}';
	var y_val = '{{ t.y_val }}';
	var tile = new Tile(title, value, x_val, y_val);
	this_game.board.tiles.push(tile);
</script>
{% endfor %}



<div class="jumbotron" id="game_screen">


	<div class="board">
		<!-- Human Player Stat Box -->
		<div class="playerStats">
			<p style="color: white; font-size: 200%; margin: 0px"><span id='heading'>Player </span><span id='active_player'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Bankroll: $ </span><span id='active_br'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Amount Owed In Loans: $ </span><span id='active_loans'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='active_career'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='active_married'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='active_children'></span></p>
			<p style="color: white; font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='active_house'></span></p>
		</div>
		<!-- End of Human Player Stat Box -->

		<!-- Player Stat Popup Boxes -->
		<div class="player_hover_stats">
			<div id='p0br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 0 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='response'>stripper </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='response'> true </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='response'>askdlfja </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='response'>$ </span></p>
			</div>
			<div id='p1br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 1 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount  In Loans: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='response'>stripper </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='response'> true </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='response'>askdlfja </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='response'>$ </span></p>
			</div>
			<div id='p2br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 2 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='response'>stripper </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='response'> true </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='response'>askdlfja </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='response'>$ </span></p>
			</div>
			<div id='p3br_stats'>
				<p style="color: #ff85cb; font-size: 125%; margin: 0px">Player 3 </p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Bankroll: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Amount In Loans: </span><span id='response'>$ </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Career: </span><span id='response'>stripper </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Married: </span><span id='response'> true </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>Children: </span><span id='response'>askdlfja </span></p>
				<p style="font-size: 100%; margin: 0px"><span id='heading'>House: </span><span id='response'>$ </span></p>
			</div>
		</div>
		<!-- End of Player Stat Popup Boxes -->
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#chooseCareerModal">
 			 Choice Modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="chooseCareerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Choose A Career</h4>
      				</div>
      				<div class="modal-body">
      				<div class="row">
      					<div class="col-md-3">
        				<div id = 'leftImage'>
        					<button onclick="Choose_Career({{curPlayer}}, left.index);" data-dismiss="modal">
        						<img src = '/static/images/careers/debt_collector_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id = 'leftTitle'>
        					<p>Generate Careers</p>
        				</div>
        				<div id = 'leftSalary'>
        					<p>Generate Careers</p>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id = 'rightImage'>
        					<button onclick="Choose_Career({{curPlayer}}, right.index);" data-dismiss="modal">
        						<img src = '/static/images/careers/meth_manufacturer_icon.png'>
        					</button>
        				</div>
        			</div>
        			<div class="col-md-3">
        				<div id = 'rightTitle'>
        					<p>Generate Careers</p>
        				</div>
        				<div id = 'rightSalary'>
        					<p>Generate Careers</p>
        				</div>
        			</div>
        			</div>
        			<div class="row">
      					<div style="text-align:center">
	        				<button type="button" id="generate_career">Generate Careers!</button>
	        			</div>
        			</div>
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal fade" id="chooseHouseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Choose A House</h4>
      				</div>
      				<div class="modal-body">
        				<div id = 'leftHouseImage'>
        					<button onclick="Choose_House({{curPlayer}}, left.index);" data-dismiss="modal">
        						<img src = '/static/images/houses/hotel_room_icon.png'>
        					</button>
        				</div>
        				<div id = 'leftHouseTitle'>
        					<p>Generate Houses</p>
        				</div>
        				<div id = 'leftCost'>
        					<p>Generate Houses</p>
        				</div>
        				<div id = 'leftSellPrice'>
        					<p>Generate Houses</p>
        				</div>
        				<button onclick="Generate_House_Options();">Generate Houses!</button>
        				<div id = 'rightHouseImage'>
        					<button onclick="Choose_House({{curPlayer}}, right.index);" data-dismiss="modal">
        						<img src = '/static/images/houses/teepee_icon.png'>
        					</button>
        				</div>
        				<div id = 'rightHouseTitle'>
        					<p>Generate Houses</p>
        				</div>
        				<div id = 'rightCost'>
        					<p>Generate Houses</p>
        				</div>
        				<div id = 'rightSellPrice'>
        					<p>Generate Houses</p>
        				</div>
      				</div>
    			</div>
  			</div>
		</div>

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#okModal">
 			 Press Ok Modal
		</button>

		<div class="modal fade" id="okModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style="text-align: center">
        				<h4 class="modal-title" id="myModalLabel">This Happened to you</h4>
      				</div>
      				<div class="modal-body">
        				<p> you paid this much</p>
      				</div>
      				<div class="modal-footer">
        					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      					</div>

    			</div>
  			</div>
  		</div>

  		<div class="modal fade" id="riskyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Enter Risky Road?</h4>
      				</div>
      				<button type="button" onclick="Choose_Risky_Road(p,1) " class="btn btn-default" data-dismiss="modal">Yes</button>
      				<button type="button" onclick="Choose_Risky_Road(p,0) " class="btn btn-default" data-dismiss="modal">No</button>
    			</div>
  			</div>
  		</div>
  		<div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 			<div class="modal-dialog">
    			<div class="modal-content">
     				<div class="modal-header" style = "text-align: center">
        				<h4 class="modal-title" id="myModalLabel">Enter Family Road?</h4>
      				</div>
      				<button type="button" onclick="Choose_Family_Road(p,1) " class="btn btn-default" data-dismiss="modal">Yes</button>
      				<button type="button" onclick="Choose_Family_Road(p,0) " class="btn btn-default" data-dismiss="modal">No</button>
    			</div>
  			</div>
  		</div>

		<!--Players Bankroll Box -->
		<div class="playerBankrolls">
			<p id='p0br' onMouseOver="show('p0br_stats')" onMouseOut="hide('p0br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 0: </span><span id='p0_bank'>$ 10000</span></p>
			<p id='p1br' onMouseOver="show('p1br_stats')" onMouseOut="hide('p1br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 1: </span><span id='p1_bank'>$ 10000</span></p>
			<p id='p2br' onMouseOver="show('p2br_stats')" onMouseOut="hide('p2br_stats')" style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 2: </span><span id='p2_bank'>$ 10000</span></p>
			<p id='p3br' onMouseOver="show('p3br_stats')" onMouseOut="hide('p3br_stats')"style="color: white; font-size: 125%; margin: 0px"><span id='heading'>Player 3: </span><span id='p3_bank'>$ 10000</span></p>
		</div>

		<!-- End of Players Bankroll Box -->
	</div>
</div>

<h2>Play tha game</h2>

<div id="button-holder">
	<button onclick="New_Game();">Start the Game!</button>
</div>

<script>
document.getElementById("generate_career").addEventListener("click", function(event){
	console.log(this_game);
	this_game.random_shit();
}, false);
</script>

  

{% endblock %}