{% extends "base.html" %}
{% block content %}

<br><br>

<div class="jumbotron">
	<div class="container">
		<img src = "../static/images/logo_color.png" id = "logosplash">
		<div id = 'fillertext'>
			<p id = 'indexheading'>Getting Started</p>
			<p id = 'indextext'>Please <span id = 'indexlogin'><a href = "{{ url_for('logout.logout_route') }}">Login</a></span> or Create a <span id = 'indexcreate'><a href = "{{ url_for('user.user_route') }}">New User</a></span>!</p>
		</div>
	</div>
</div>

{% endblock %}